@model UCP1_PAW_087_C.Models.Attendance

@{
    ViewData["Title"] = "Tambah Kehadiran";
}

<h1>Tambah Kehadiran</h1>

<h4>Kehadiran</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label">User</label>
                <select asp-for="IdUser" class ="form-control" asp-items="ViewBag.IdUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckInDatetime" class="control-label">Tanggal Masuk</label>
                <input asp-for="CheckInDatetime" class="form-control" />
                <span asp-validation-for="CheckInDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDatetime" class="control-label">Tanggal Keluar</label>
                <input asp-for="CheckOutDatetime" class="form-control" />
                <span asp-validation-for="CheckOutDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Simpan</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
